<a href="https://colab.research.google.com/github/Anchalverma1125/Data-Science-Learning/blob/main/Day1_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python is a HLL developed in 1991 by Guido Van Rossum.
output- print() method is used to display output on screen

In [1]:
print("Hello World")

Hello World

input() method is used to interact with user and take input from the user, by default it take string as an input.

In [3]:
name = input("Enter your name :")
print(name)
print(type(name))

Enter your name :Anchal
Anchal
<class 'str'>

Typecast
if we want other form of data like numeric, decimal, bool we should mention it before input

age = int(input("Enter your age:))

In [4]:
age = int(input("enter your age: "))
print(type(age))

enter your age: 23
<class 'int'>

VARIABLES

In [10]:
a = 25
x = 100
y = 100
z = 100
name = "Anchal"
height = 5.6
g, h = 10, 20

print(a)
print(name)
print(height)
print(x)
print(y)
print(z)
print(g)
print(h)

25
Anchal
5.6
100
100
100
10
20

In [11]:
print(a, age, g, h, height, name, x, y, z)

25 23 10 20 5.6 Anchal 100 100 100

In [12]:
#check data type

print(type(a))
print(type(name))
print(type(height))
print(type(g))
print(type(h))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'int'>
<class 'int'>

BASIC OPERATORS

In [13]:
a = 10
b = 3
print(a+b) # Addition
print(a-b) # Subtraction
print(a*b) # multiplication
print(a/b) # Division
print(a//b) # Floor division- gives only whole number
print(a%b) # Modulus, returns remainder
print(a**b) # Power

13
7
30
3.3333333333333335
3
1
1000

Calculate the average marks of a student, english = 78, maths = 89, science = 79

In [14]:
eng = 78
sci = 79
maths = 89

avg = (eng+sci+maths)/3
print("Averege marks: ",avg)

Averege marks:  82.0

Exercises

1) create variables:
    your name, age, college name, GPA.
    print the using print().

2) Write a python program to calculate:
    Area of rectangle (lenght * width)
    perimeter of a rectangle (2 * (length + width))

3) Bonus Challenge:
    A shopkeeper sells apple at rupee 120/kg.
    write a python program to calculate the cost of buying 3.5 kg apples.

In [15]:
# Exercise 1

name = "Anchal"
age = 35
college_name = "Jain University"
GPA = 9.2

print(name, age, college_name, GPA)

Anchal 35 Jain University 9.2

In [16]:
# Exercise 2

length = int(input("Enter the length of the rectangle: "))
width = int(input("Enter the width of the rectangle: "))

area = length * width
perimeter = 2 * (length + width)

print("The area of the rectangle is:", area)
print("The perimeter of the rectangle is:", perimeter)

Enter the length of the rectangle: 23
Enter the width of the rectangle: 2
The area of the rectangle is: 46
The perimeter of the rectangle is: 50

In [17]:
# Exercise 3

cost_per_kg = 120

cost = 3.5 * cost_per_kg

print("The cost of buying 3.5 kg apples is:", cost)

The cost of buying 3.5 kg apples is: 420.0