<a href="https://colab.research.google.com/github/Anchalverma1125/Data-Science-Learning/blob/main/Day2_DataStructures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LIST
 It is an ordered, changeable collection of items, contain duplicate items, store mixed data types, and also store lists inside list.

 it is written in []

In [ ]:
# example list of numbers

marks = [58, 78, 90, 85, 63]
print(marks)
print(type(marks))

[58, 78, 90, 85, 63]
<class 'list'>

creating list using constructor

In [ ]:
a = list((1, 2.5, 'apple' ))
print(a)
print(type(a))

[1, 2.5, 'apple']
<class 'list'>

list with repeated elements

In [ ]:
a = [2] * 5
b = [0] * 4
print(a)
print(b)

[2, 2, 2, 2, 2]
[0, 0, 0, 0]

Acess elements in List

In [ ]:
marks = [58, 78, 90, 85, 63]

print(marks[0])
print(marks[-1])
print(marks[2:5])

58
63
[90, 85, 63]

Adding elements to the list

append() : add element at the end of the list

extend() : add multiple element at the end of the list

insert() : add element at specific index

clear() : removes all items

In [ ]:
a = []

a.append(10)
print(a)

a.extend([20, 30, 40])
print(a)

a.insert(1, 50)
print(a)

a.clear()
print(a)

[10]
[10, 20, 30, 40]
[10, 50, 20, 30, 40]
[]

Remove elements from the list

remove() : removes the first occerence of an element.

pop() : removes the item at a specific index, if index is not specified, last element will be deleted

del statement : deletes an element at specified index

In [ ]:
a = [10, 15, 20, 30, 20, 50, 60, 20]

a.remove(20)
print(a)

a.pop(1)
print(a)

a.pop()
print(a)

del a[2]
print(a)

[10, 15, 30, 20, 50, 60, 20]
[10, 30, 20, 50, 60, 20]
[10, 30, 20, 50, 60]
[10, 30, 50, 60]

Exercise: create a list of five favourite movies

print the first and last movie.
Add one more movie to the list.

In [15]:
movies = ["Inception", "Avengers", "Spiderman", "Last of us", "Game of Thrones"]
print(movies[0])
print(movies[-1])

movies.append("The Matrix")
print(movies)

Inception
Game of Thrones
['Inception', 'Avengers', 'Spiderman', 'Last of us', 'Game of Thrones', 'The Matrix']

TUPLES

A tuple is like a list but immutable (unchangable), ordered, heterogenous

written inside ()

In [1]:
# creating a tuple

tup = ()
print(tup)
print(type(tup))

# using list

l = [1, 2, 3, 4, 5]
print(tuple(l))

# using built-in function

tup = tuple("Anchal")
print(tup)

# using mixed data type

tup = (1, 2.5, 'apple')
print(tup)

# A tuple with nested tuple

tup1 = (1, 2, 3, 4, 5)
tup2 = ('a', 'b', 'c')
tup3 = (tup1, tup2)
print(tup3)

# tuple with repetition

tup = ('a', 'b', 'c') * 3
print(tup)

# creating tuple with the use of loop

tup = ("Apple")
n = 5
for i in range(int(n)):
  tup = (tup,)
print(tup)

()
<class 'tuple'>
(1, 2, 3, 4, 5)
('A', 'n', 'c', 'h', 'a', 'l')
(1, 2.5, 'apple')
((1, 2, 3, 4, 5), ('a', 'b', 'c'))
('a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c')
((((('Apple',),),),),)

Tuple basic operations

1) Accessing elements of tuple

2) Concatenation of tuple

3) slicing of tuple

4) deleteing a tuple

In [5]:
# accessing tuple with indexing
tup = tuple("Anchal")
print("first element",tup[0])
print("last element",tup[-1])

#accessing a range of elements
print(tup[1:4])
print(tup[:3])

#tuple unpacking
tup = ("pyhton", "java", "c++")
a, b, c = tup
print(a, b, c)

# concatenation of tuple

tup1 = (1, 2, 3)
tup2 = (4, 5, 6)
tup3 = tup1 + tup2
print(tup3)

# Slicing of tuple - creating subset tuple from original tuple

tup = tuple('ABCDEFGH')
print(tup[1:]) # removing first element
print(tup[::-1])  # reversing the tuple
print(tup[2:5]) # printing range of elements

# deleting a tuple - we cannot del the element (immutable characteristic), del entire tuple.

tup0 = ("Apple","mango","banana")
print(tup0)
del tup0
print(tup0) # this gives error as tuple (tup0) doesn't exist.

first element A
last element l
('n', 'c', 'h')
('A', 'n', 'c')
pyhton java c++
(1, 2, 3, 4, 5, 6)
('B', 'C', 'D', 'E', 'F', 'G', 'H')
('H', 'G', 'F', 'E', 'D', 'C', 'B', 'A')
('C', 'D', 'E')
('Apple', 'mango', 'banana')

NameError: name 'tup0' is not defined

Exercise: create a tuple of 3 countries you want to visit. print them one by one.

In [17]:
countries = ("Switzerland", "USA", "UK")
for country in countries:
  print(country)

Switzerland
USA
UK

Dictionary - store values in key:value pairs using hashing,
keys must be unique and immutable
values may contain any datatype and duplicate.

In [6]:
# creating a dictionary

d = {1: 'Apple', 2: 'Mango', 3: 'Banana'}
print(d)

# create dictionary using dict() constructor
d2 = dict(a = "Honey bee", b = "makes", c = "Honey")
print(d2)

{1: 'Apple', 2: 'Mango', 3: 'Banana'}
{'a': 'Honey bee', 'b': 'makes', 'c': 'Honey'}

Operations on dictionary

In [7]:
d = { "name": "Anchal", 1: "Python", (1, 2): [1,2,4] }

# Access using key
print(d["name"])

# Access using get()
print(d.get("name"))

Anchal
Anchal

In [10]:
d = {1: 'Honey bee', 2: 'learn', 3: 'python'}

# Adding a new key-value pair
d[4] = 'java'

# Updating an existing value
d[3] = "Python dict"

print(d)

{1: 'Honey bee', 2: 'learn', 3: 'Python dict', 4: 'java'}

In [12]:

d = {1: 'Honey bee', 2: 'learn', 3: 'Python dict', 4: 'java'}

# Using del to remove an item
del d[4]
print("After del",d)

# Using pop() to remove an item and return the value
val = d.pop(1)
print(val)
print("After pop()",d)

# Using popitem to removes and returns
# the last key-value pair.
key, val = d.popitem()
print(f"Key: {key}, Value: {val}")
print("After popitem()",d)

# Clear all items from the dictionary
d.clear()
print(d)

After del {1: 'Honey bee', 2: 'learn', 3: 'Python dict'}
Honey bee
After pop() {2: 'learn', 3: 'Python dict'}
Key: 3, Value: Python dict
After popitem() {2: 'learn'}
{}

Exercises: create a dictionary of 3 employees:
each should have a name, age, and salary,
print the salary of one employee.

In [18]:
d = {'Emp1':{"name": "Anchal", "age": 20, "salary": 10000},
     'Emp2':{"name": "John", "age": 32, "salary": 150000},
     'Emp3':{"name": "Jonathan", "age": 25, "salary": 120000}}
print("John salary is :",d['Emp2']['salary'])

John salary is : 150000

Create a gradebook of students and find the top Scorer.

In [26]:
gradebook = {'Ravi':[85, 90, 65],
             'Anchal':[81, 85, 88],
             'Aryan':[90, 75, 87]}

#find the top scorer
top_scorer = None
max_score = 0

for student, scores in gradebook.items():
  total_score = sum(scores)/len(scores)
  print(f"{student}: {total_score}")

  if total_score > max_score:
    max_score = total_score
    top_scorer = student

print(f"\nTop Scorer: {top_scorer} with {max_score :.2f} marks")

Ravi: 80.0
Anchal: 84.66666666666667
Aryan: 84.0

Top Scorer: Anchal with 84.67 marks