<a href="https://colab.research.google.com/github/Anchalverma1125/Data-Science-Learning/blob/main/Day4_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

loop is used to repeat a code multiple number of times, without writting it again and again. and user know the number of repetition (how many times a loop executed.)

two main types of loops in python:

for loop and while loop.

In [ ]:
n = 5
for i in range(1, n+1):
    print(i)

1
2
3
4
5

For loop

loop through a list, tuple, string and dictionary

In [ ]:
li = ["Apple", "Mango", "Banana"]
print("Iterate over list")
for i in li:
    print(i)

tup = ("Apple", "Mango", "Banana")
print("Iterate over tuple")
for i in tup:
    print(i)

s = "Apple"
print("Iterate over string")
for i in s:
    print(i)

d = dict({'x':123, 'y':354})
print("Iterate over dictionary")
for i in d:
    print("%s  %d" % (i, d[i]))

set1 = {1, 2, 3, 4, 5, 6}
print("Iterate over sets")
for i in set1:
    print(i),

Iterate over list
Apple
Mango
Banana
Iterate over tuple
Apple
Mango
Banana
Iterate over string
A
p
p
l
e
Iterate over dictionary
x  123
y  354
Iterate over sets
1
2
3
4
5
6

iterating by index

In [ ]:
li = ["Apple", "Mango", "Apricot"]
for index in range(len(li)): #len() returns the number of items in a container
    print(li[index])

Apple
Mango
Apricot

Exercise: Sum of Numbers 1 to 10

In [ ]:
sum = 0
for i in range (1, 11):
  sum += i

print("sum of numbers 1 to 10 is: ",sum)

sum of numbers 1 to 10 is:  55

While loop is also used to repeat a code until the condition becomes false.

In [ ]:
n = 1
while n <= 4:
  print("value of n in each iteration: ",n)
  print("Hello!!")
  n += 1

value of n in each iteration:  1
Hello!!
value of n in each iteration:  2
Hello!!
value of n in each iteration:  3
Hello!!
value of n in each iteration:  4
Hello!!

Nested loop

In [1]:
for i  in range (0,5):
  for j in range(i):
    print(i,end=' ')
  print()

1
2 2
3 3 3
4 4 4 4

Control Statement: continue, break, pass

Continue Stetement: it returns the control to the beginning of the loop. it is used to skip the current iteration of loop and move to the next iteration.

In [2]:
for i in range(0,5):
  if i==3:
    continue
  print ("current value of i is: ",i)

current value of i is:  0
current value of i is:  1
current value of i is:  2
current value of i is:  4

Break statement: It takes the control out of the loop

In [3]:
for i in range(0,5):
  if i==3:
    break
  print ("current value of i is: ",i)

current value of i is:  0
current value of i is:  1
current value of i is:  2

Pass Statement: used to write empty loops, functions, and classes. you can write these later.

In [6]:
for i in range(0,5):
  pass
print ("last value of i is: ",i)

last value of i is:  4

Exercise: Print all even numbers between 1 and 50 using a 'for loop'.

In [19]:
print("Even numbers between 1 and 50:")
for i in range(1,51):
  if i % 2 == 0:
    print(i)

Even numbers between 1 and 50:
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

Exercise: calculate the factorial of a number using 'while loop'

In [23]:
num = int(input("Enter a number for its factorial : "))
fact = 1
n = num
while n > 0:
  fact *= n
  n = n - 1
print("factorial of a given number is : ",fact)

Enter a number for its factorial : 4
factorial of a given number is :  24

Exercise: from a list of numbers, print only those greater than 50.

In [26]:
li = [10, 56, 78, 45, 52, 65, 49, 28, 89, 102]
for i in range(len(li)):
  if li[i] > 50:
    print(li[i])

56
78
52
65
89
102

Exercise: Dictionary of students with marks. print pass/fail

In [30]:
student = {
    'Alice' : 85,
    'Bob' : 42,
    'Honey' : 25,
    'Monte' : 95
    }
print("Pass/Fail Results:")

for i in student:
  if student[i] >= 40:
    print(i,"pass")
  else:
    print(i,"fail")

Pass/Fail Results:
Alice pass
Bob pass
Honey fail
Monte pass

Mini Project: ATM Machine Simulator

In [43]:
# Initial balance and pin of user
balance = 1000
pin = "12345"

print("Welcome to the Bank")

# pin verification
entered_pin = input("Enter your ATM PIN : ")

if entered_pin == pin:
  print("PIN Verified")
  while True:         # keep showing menu until user choose to exit
    print("\n\n----ATM MENU----")
    print("1. Check Balance")
    print("2. Deposit Money")
    print("3. Withdraw Money")
    print("4. Exit")

    choice = input("Enter your choice (1-4) : ")
    if choice == '1':
        print(f"Your Balance : {balance}")

    elif choice == '2':
        amount = float(input("Enter amount to deposit : "))
        balance += amount
        print(f"{amount} deposited. Updated Balance : {balance}")

    elif choice == '3':
        amount = float(input("Enter amount to withdraw : "))
        if amount <= balance:
          balance -= amount
          print(f"{amount} withdrawn. Updated Balance : {balance}")
        else:
          print("Insufficient balance.")

    elif choice == '4':
          print("Thank you for using the ATM. Goodbye!")
          break

    else:
        print("Invalid choice. Please select a valid option.")

else :
    print("Invalid PIN. Access Denied.")

Welcome to the Bank
Enter your ATM PIN : 12345
PIN Verified
----ATM MENU----
1. Check Balance
2. Deposit Money
3. Withdraw Money
4. Exit
Enter your choice (1-4) : 1
Your Balance : 1000
----ATM MENU----
1. Check Balance
2. Deposit Money
3. Withdraw Money
4. Exit
Enter your choice (1-4) : 4
Thank you for using the ATM. Goodbye!

In [45]:
# Initial balance and pin of user
balance = 1000
pin = "12345"

print("Welcome to the Bank")

# pin verification
entered_pin = input("Enter your ATM PIN : ")

if entered_pin == pin:
  print("PIN Verified")
  while True:         # keep showing menu until user choose to exit
    print("\n\n----ATM MENU----")
    print("1. Check Balance")
    print("2. Deposit Money")
    print("3. Withdraw Money")
    print("4. Exit")

    choice = input("Enter your choice (1-4) : ")

    match choice:
      case '1':
        print(f"\n\nYour Balance : {balance}")

      case '2':
        amount = float(input("Enter amount to deposit : "))
        balance += amount
        print(f"\n\n{amount} deposited. Updated Balance : {balance}")

      case '3':
        amount = float(input("Enter amount to withdraw : "))
        if amount <= balance:
          balance -= amount
          print(f"\n\n{amount} withdrawn. Updated Balance : {balance}")
        else:
          print("Insufficient balance.")

      case '4':
          print("Thank you for using the ATM. Goodbye!")
          break

      case _:
        print("\n\nInvalid choice. Please select a valid option.")
else:
  print("Invalid PIN. Access Denied.")

Welcome to the Bank
Enter your ATM PIN : 12345
PIN Verified


----ATM MENU----
1. Check Balance
2. Deposit Money
3. Withdraw Money
4. Exit
Enter your choice (1-4) : 1


Your Balance : 1000


----ATM MENU----
1. Check Balance
2. Deposit Money
3. Withdraw Money
4. Exit
Enter your choice (1-4) : 2
Enter amount to deposit : 500


500.0 deposited. Updated Balance : 1500.0


----ATM MENU----
1. Check Balance
2. Deposit Money
3. Withdraw Money
4. Exit
Enter your choice (1-4) : 3
Enter amount to withdraw : 200


200.0 withdrawn. Updated Balance : 1300.0


----ATM MENU----
1. Check Balance
2. Deposit Money
3. Withdraw Money
4. Exit
Enter your choice (1-4) : 1


Your Balance : 1300.0


----ATM MENU----
1. Check Balance
2. Deposit Money
3. Withdraw Money
4. Exit
Enter your choice (1-4) : 5
Invalid choice. Please select a valid option.


----ATM MENU----
1. Check Balance
2. Deposit Money
3. Withdraw Money
4. Exit
Enter your choice (1-4) : 4
Thank you for using the ATM. Goodbye!